.container{
  position: fixed;
}
.bg{
  width: 350px;
  height: 350px;
  background-color: #000;
  border-radius: 50%;
  z-index: 1;
}
.bg::after{
  content: "";
  display: block;
  width: 338px;
  height: 338px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  left: 6px;
  top: 6px;
  z-index: 1;
}

.item{
  width: 50px;
  height: 50px;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  /* transition: transform 1s; */
  z-index: 2;
}
.item::after{
  content: "";
  display: block;
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  left: 6px;
  top: 6px;
  z-index: 2;
}