@import url(../common/common.css);
.header{
  text-align: center;
}
.upper{
  font-family: var( --orbitron-font);
  font-size: 40px;
  font-weight: bold;
}
.upper span{
  font-family: var(--alata-font);
  font-variant: small-caps;
}
.deco{
    position: relative;
    left: -30px;
    top: -8px;
}
.upper.k {
    position: relative;
    left: -25px;
}
.upper.m {
    position: relative;
    left: -25px;
}
.title{
  font-family: var(--nenu-font);
}
.headline{
  font-family: var(--head-font);
}
.contentTxt{
  font-family: var(--content-font);
}
.scroll{
  font-family: var(--nenu-font);
}