@import url(../../common/common.css);

.container{
  width: 100vw;
  height: 120vh;
}
.imgContent{
  width: 50vw;
  height: 100vh;
  /* transform-style: preserve-3d;
  perspective: 500px; */
}
.model1, .model2{
  position: absolute;
  width: 350px;
  height:450px;
  border-radius: 2%;
  box-shadow: 2px 2px 10px rgb(131, 129, 129);
}
.img{
  position: absolute;
  width: 1000px;
  height: 700px;
  box-shadow: 1px 2px 10px rgb(197, 193, 193);
}
.title{
  position: absolute;
  font-family: var(--head-font);
  font-size: 100px;
}