body{
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* #activeDiv{
  transition: all 1s;
  width: 550px;
  height: 400px;
}
#active{
  transition: all 1s;
  width: 550px;
  height: 400px;
} */